.green-100 {
  color: #3f570f !important;
}

.green-200 {
  color: #5e8217 !important;
}

.hover-green-200:hover {
  color: #5e8217 !important;
}

.mega-wrapper > a.active {
  color: #5e8217 !important;
  font-weight: 700 !important;
}

.mega-wrapper > ul.mega-inner-nav > li > a.active {
  color: #5e8217 !important;
  font-weight: 600 !important;
}

.green-300 {
  color: #7ead1f !important;
}

.green-400 {
  color: #9dd926 !important;
}

.green-500 {
  color: #b1e052 !important;
}

.green-600 {
  color: #c4e87d !important;
}

.green-700 {
  color: #d8f0a8 !important;
}

.green-800 {
  color: #f0f9dc !important;
}

.green-900 {
  color: #f9fdf2 !important;
}

.bg-green-100 {
  background-color: #3f570f !important;
}

.bg-green-200 {
  background-color: #5e8217 !important;
}

.bg-green-300 {
  background-color: #7ead1f !important;
}

.bg-green-400 {
  background-color: #9dd926 !important;
}

.bg-green-500 {
  background-color: #b1e052 !important;
}

.bg-green-600 {
  background-color: #c4e87d !important;
}

.bg-green-700 {
  background-color: #d8f0a8 !important;
}

.bg-green-800 {
  background-color: #f0f9dc !important;
}

.bg-green-900 {
  background-color: #f9fdf2 !important;
}
