.bg-get-in-touch {
    background-image: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url("../images/bg/bg-get-in-touch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
}

a .solution-card {
    cursor: pointer;
}

.solution-card {
    transition: all 0.15s ease-in-out;
    border-radius: 1rem;
    border: none;
}

.solution-card p {
    color: #17362c !important;
}

.solution-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: all 0.15s ease-in-out;
}

.advantage-card {
    border: none;
}

.mega-wrapper {
    /* border-bottom: solid 1px #666666; */
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#get-in-touch h2 {
    margin-bottom: 0px;
    letter-spacing: 3px;
}

#get-in-touch .col-md-9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-list .client-wrapper-img {
    min-height: 164px;
    padding: 0.25rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client-list .client-divider {
    margin-right: auto !important;
    margin-left: auto !important;
    border-top: 1px solid #eee;
    width: 80%;
}

#client-list .client-card h5 {
    font-weight: 600;
}

.client-list-card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #f9fdf2 !important;
    height: 100% !important;
    border: 0 !important;
}

.client-list-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: all 0.15s ease-in-out;
}

#client-list .client-card-body {
    min-height: 220px;
}

.carousel-client-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    margin-bottom: 15px;
}

.carousel-client-img {
    /* margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important; */
    max-height: 104px;
}

#solutions-categories h3 {
    margin-bottom: 1rem;
    font-weight: 600;
}