<div class="graphic web-design cbp-item">
    <div class="cbp-slider-inline">
        <div class="cbp-slider-wrapper">
            <div class="cbp-slider-item cbp-slider-item--active">
                <img src="assets/./images/img16.jpg" alt="">
            </div>
            <div class="cbp-slider-item">
                <img src="assets/./images/img15.jpg" alt="">
            </div>
            <div class="cbp-slider-item">
                <img src="assets/./images/img14.jpg" alt="">
            </div>
        </div>
        <div class="cbp-slider-controls">
            <div class="cbp-slider-prev"></div>
            <div class="cbp-slider-next"></div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title">Shopping Gallery</div>
    <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
</div>
<div class="graphic logos cbp-item">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="assets/./images/img11.jpg" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="ajax-juicy-projects/project9.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                    <a href="./images/img11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title">Timezone Mgmt</div>
    <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
</div>
<div class="graphic logos cbp-item">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="assets/./images/img12.jpg" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="ajax-juicy-projects/project10.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                    <a href="./images/img12.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title">Story Book</div>
    <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
</div>
<div class="identity web-design cbp-item">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="assets/./images/img13.jpg" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="ajax-juicy-projects/project11.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                    <a href="./images/img13.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title">Website Lightbox</div>
    <div class="cbp-l-grid-projects-desc">Identity</div>
</div>
