/*
Breadcrumb style
*/

.breadcrumb{
    background: transparent;
    padding: 0px;
    .breadcrumb-item{
        float: none;
        display: inline-block;
        padding-left: 5px;
        font-size: .8rem;
    }
}