/*
Dropdown menu styles
*/
.dropdown-toggle::after{
    border-left:0px;
    border-right:0px;
    border-top:0px;
    font-family: "FontAwesome";
       content: "\f107";
       font-size: 14px;
    display: inline;
    margin-left: 7px;
        top: 5px;
    position: relative;
}
.dropdown-menu{
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    min-width: 12rem;
    border:0px;
    &.lang-dropdown{
        width:100px;
        min-width:100px;
        >li>a{
            line-height: 18px!important;
        }
    }
}
.dropdown-menu .dropdown-item,.mega-inner-nav li a{
    font-weight:400;
    font-size: .85rem;
    color:#a1b1bc;
    font-family: $base-font;
}
/**mulit level dropdown**/
.dropdown-submenu { position: relative }
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block; 
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #f7f7f7;
    margin-top: 8px;
    margin-right: -5px;

}
.dropdown-submenu:hover>a:after { border-left-color: #ccc }
.dropdown-submenu.pull-left { float: none }
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
// Mega menu canvas
@media(min-width:992px){
    .dropdown-menu{       
    margin-top:15px;
    }
    .navbar-inverse .dropdown-menu{
        border-top:3px solid $primary-color;
    }
    .dropdown-menu.dropdown-mega-fw{
        position: absolute;
        width: 100%;
        padding:0px 20px;
        padding-bottom: 0px;
    }
    .mega-menu-content{
        padding: 30px 0;
        padding-bottom: 20px;
    }
    .dropdown-menu,.dropdown-submenu .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .show>.dropdown-menu,.dropdown-submenu:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
.mega-title{
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.mega-inner-nav{
    li{
        vertical-align:middle;
        a{
            display: block;
            &:hover{
                color: $primary-color;
                background-color:transparent;
            }
            i{
                margin-right: 6px;
                position: relative;
                top: 1px;
                font-size: 13px;
                width: 16px;
                display: inline-block;
            }
        }
    }
}
.dropdown .dropdown-menu .dropdown-item,.mega-inner-nav>li>a{
    padding:7px 20px;
    text-transform:capitalize;
    &:hover{
        background-color:transparent;
        color: $primary-color;
    }
    &:focus{
        background-color:transparent;
        color: $primary-color;
    }
}
.mega-inner-nav>li>a{
    padding: 7px 0;
}
@media(min-width:992px){
    .mega-menu-content{
        .row .col-lg-3:first-child{
            border-left:0;
        }
        .row .col-lg-3{
            border-left:1px solid #eee;
            padding:0px 30px;
        }
    }
}