/*
Assan intro page style
*/
.assan-intro-header{
    padding-top:150px;
    padding-bottom:150px;
    .lead{
        font-size:1.3rem;
        font-family:$title-font;
        line-height:1.5;
    }
}
.tlt{
     text-transform: capitalize!important;
}
.tlt.h1{
    text-transform: capitalize!important;
    font-family:$base-font;
    font-weight:300;
}
.b4-demos{
    background-color:#fbfbfb;
}
.demo-box-b4{
    border-radius:5px;
        box-shadow: 0 15px 45px -9px rgba(0,0,0,0.25);
    display:block;
    position:relative;
    img{
        border-radius:5px;
        transition:all .3s;
        -webkit-transition:all .3s;
    }
    &:hover{
        img{
            opacity:0.7;
        }
    }
}
.label-new{
    position:absolute;
    right:-10px;
    top:-10px;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    line-height:40px;
    color:#fff;
    z-index:1;
    font-size:10px;
    text-transform:uppercase;
    font-weight:700;
    z-index: 4;
}
.label-update{
     position:absolute;
    right:-10px;
    top:-10px;
    display:inline-block;
    padding:1px 5px;
    color:#fff;
    font-size:12px;
    font-weight:400;
    border-radius:5px;
     z-index: 4;
}
.b4-demos hr{
    margin-bottom:50px;
}
.intro-features{
    li{
        position:relative;
        padding-left:30px;
        display:block;
        padding-bottom:9px;
        color:#fff;
        font-size:18px;
        font-weight:300;
        &:before{
                content: "\f00c";
                font-family: 'FontAwesome';
                position:absolute;
                left:0;
                top:0;
                opacity:0.8;
        }
    }
}
.btn-fixed{
    position: fixed;
    right:20px;
    bottom:20px;
    font-size:12px!important;
}