/*
Page title styles
*/
.page-titles{
    &.title-gray{
        background: #fbfbfb;
        background-size: 100%;
        background-attachment: fixed;
    }
    h4{
           margin-top: 5px;
        font-family:$title-font;
        text-transform:capitalize;
        font-weight:300;        
        font-size:13px;
        span{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 23px;
        }
    }
}

.page-titles-img{
 text-align: center;
 h1{
     color:#fff;
     font-weight: 500;
     font-size:1.5rem;
 }
 p{
     color: rgba(255,255,255,.8);
 }
}
.title-space-lg{
    padding-top: 14em;
    padding-bottom: 7em;
}


.page-title-sm-gray{
    padding: 30px 0;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    .breadcrumb{
        margin-bottom: 0px;
        li.breadcrumb-item{
            font-size: 13px;
        }
    }
    h4{
        font-weight: 700;
        text-transform: uppercase;
    }
}