/*
Portfolio style
*/
.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap{
    background: rgba($primary-color,.8);
}
.cbp-l-grid-mosaic-flat .cbp-l-caption-title{
    font-family: $title-font;
    font-weight:400;
}
.cbp-l-grid-slider-testimonials-body{
    font-family: $base-font;
    font-weight:300;
}
.cbp-l-grid-slider-testimonials-footer{
    font-family: $title-font;
    font-weight:500;
}
.cbp-l-slider-testimonials-wrap{
    border:0px;
}
.cbp-l-caption-title,.cbp-l-filters-dropdownHeader{
    font-family: $title-font;
    font-weight:500;
}
.cbp-l-caption-desc,.cbp-l-filters-dropdownList .cbp-filter-item{
    font-family:$base-font;
}
.cbp-caption-activeWrap{
    background-color: $primary-color;
}
.cbp-caption-fadeIn .cbp-caption-activeWrap,.cbp-caption-zoom .cbp-caption-activeWrap{
    background-color: rgba($primary-color,.8);
}
.cbp-l-caption-desc{
    color:rgba(255,255,255,.8);
}

.cbp-l-caption-alignCenter {
    display: table;
    width: 100%;
    height: 100%;
    .cbp-l-caption-body {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px 0;
    }
}
.link-captions{
    padding-left: 0;
    margin: 0 0 20px;
    list-style: none;
    text-align: center;
    list-style:none;
    li {
        padding: 0 2px;
        display: inline-block;
        a i{
            color: #fff;
            width: 42px;
            height: 42px;
            padding: 8px;
            font-size: 20px;
            background: transparent;
            border:2px solid rgba(255,255,255,.2);
            text-align: center;
            display: inline-block;
            border-radius:50%;
            -webkit-border-radius:50%;
            transition:all .3s;
            -webkit-transition:all .3s;
            -ms-transition:all .3s;
            &:hover{
                background-color:#fff;
                color:#444;
            }
        }
    }
}
.cbp-l-grid-agency-title{
    text-transform: uppercase;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter{
    background-color: $primary-color;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter:after{
    border-top-color: $primary-color;
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active{
    border-color: $primary-color;
}
.cbp-l-filters-button .cbp-filter-item,.cbp-l-filters-buttonCenter .cbp-filter-item{
    font-family: $base-font;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active{
background-color:$primary-color;
border-color:$primary-color;
}

.cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link{
    font-family: $base-font;
}
.cbp-l-grid-projects-title{
    font-family: $title-font;
    text-transform: uppercase;
    font-size:13px;
}
.cbp-l-caption-buttonLeft, .cbp-l-caption-buttonRight{
    background-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 11px;
    font-weight: 600;
    &:hover{
        color:#fff;
    }
}
.cbp-l-project-desc-title span, .cbp-l-project-details-title span,.cbp-l-project-related-title{
    font-family: $title-font;
    font-weight: 600;
}
.cbp-l-project-desc-text,.cbp-l-project-details-list>li, .cbp-l-project-details-list>div{
    font-family: $base-font;
}
.cbp-l-project-details-visit{
    background-color: $primary-color;
    font-family: $base-font;
}
.cbp-l-grid-agency-title{
    font-family: $title-font;
    font-weight:500;
}