$title-font: 'Poppins', sans-serif;
$styled-font:'Droid Serif', serif;
$base-font:'Open Sans', sans-serif;
$primary-color:#3483de;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#34495E;
$info-color:#5bc0de;

