/*
Assan main style file
*/
@font-face {
  font-family: 'FontAwesome';
  src: url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),url("assets/../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/*themify icons*/
@font-face {
  font-family: 'themify';
  src: url("assets/../bower_components/themify-icons/fonts/themify.eot");
  src: url("assets/../bower_components/themify-icons/fonts/themify.eot?#iefix") format('embedded-opentype'),
		url("assets/../bower_components/themify-icons/fonts/themify.woff") format('woff'),
		url("assets/../bower_components/themify-icons/fonts/themify.ttf") format('truetype'),
		url("assets/../bower_components/themify-icons/fonts/themify.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
/**et line icons**/
@font-face {
    font-family: 'et-line';
    src:url('../et-line-font/fonts/et-line.eot');
    src:url('../et-line-font/fonts/et-line.eot?#iefix') format('embedded-opentype'),
        url('../et-line-font/fonts/et-line.woff') format('woff'),
        url('../et-line-font/fonts/et-line.ttf') format('truetype'),
        url('../et-line-font/fonts/et-line.svg#et-line') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i');
@import "_variables.scss";
@import "_base.scss";
@import "_preloader.scss";
@import "_buttons.scss";
@import "_header.scss";
@import "_dropdown.scss";
@import "_alerts-notifications.scss";
@import "_accordions.scss";
@import "_accounts.scss";
@import "_blockquotes.scss";
@import "_breadcrumb.scss";
@import "_blog.scss";
@import "_carousel.scss";
@import "_clients.scss";
@import "_counter-countdown.scss";
@import "_hero-templates.scss";
@import "_icon-boxes.scss";
@import "_img-boxes.scss";
@import "_modals.scss";
@import "_page-titles.scss";
@import "_paginations.scss";
@import "_portfolio.scss";
@import "_pricing-boxes.scss";
@import "_progress-bar.scss";
@import "_promo-boxes.scss";
@import "_revolution-slider.scss";
@import "_sidebar.scss";
@import "_tabs.scss";
@import "_team.scss";
@import "_testimonials.scss";
@import "_title-headings.scss";
@import "_cards.scss";
@import "_top-bars.scss";
@import "_career.scss";
@import "_timeline.scss";
@import "_smart-forms.scss";
@import "_typed.js.scss";
@import "_footer.scss";
@import "_responsive-utilities.scss";
/**intro css (you can remove it)**/
@import "_intro-assan.scss";
@import "_responsive.scss";


